*{
    padding :0%;
    margin:0%;
    box-sizing: border-box;
}
.main{
    background-color: #060421;
    width: 100vw;
    height:100vh;
    display:flex;
    
}
.img{
 position:relative;
 top:27px;
 left:50px;
 background-color: pink;
 width: 35vw;
 height:90vh;
 border: 10px double #f5a05f;
 border-radius: 5%;
 background-image: url(https://pbs.twimg.com/profile_images/1715692540421120000/dimtn-uT_400x400.jpg);
 background-size: cover;
 background-repeat: no-repeat;

}
.textbuttons{
    background-color:#060421;
    width: 50vw;
    height:80vh;
    position: relative;
    top:100px;
    left:100px;
    border-radius: 5%;
    
    display:flex;
    flex-direction: column;

 
    font-weight: bolder;
    color:#4D4DFF;
    
    
}


#name{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color:#180f4a;
    display: inline-block;
    line-height: 120px;
   animation-name:animateName ;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   animation-timing-function: steps(infinite);
}


.quote{
    
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;;
    font-weight: bold;
    color:#180f4a;
    display: inline-block;
    animation-name:animateName ;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   animation-timing-function: steps(infinite);
}
@keyframes animateName {
    0%{
        color:#180f4a;
        text-shadow : none;
    }
    100%{
        color:#f8f7fa;
        text-shadow: 0 0 10px #19ecff,0 0 20px #19ecff,0 0 40px #19ecff,0 0 80px #19ecff;
    }
}


.buttons{
    background-color: #060421;
    height:50%;
    width:100%;
    display:flex;
    justify-content :space-evenly;
    align-items: center;

}
.button{
    width: 170px;
    height:70px;
    background-color:#060421;
    color:white;
    text-decoration: none;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    transition: 0.2s;
    overflow: hidden;
}
a:hover{
    color: white;
    background:#1f25cf;
    box-shadow: 0 0 10px #2cbfbd,0 0 40px #2cbfbd,0 0 80px #2cbfbd;
    transition-delay: 0.5s;
}